$breakpoints: (
  xxs: 430px,
  xs: 710px,
  sm: 991px,
  md: 1280px,
  lg: 1920px,
  xl: 5000px
);

@mixin alignCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin break($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $max-width: map-get($breakpoints, $breakpoint);
    @media screen and (max-width: $max-width) {
      @content;
    }
  } @else {
    @error "Invalid breakpoint: #{$breakpoint}.";
  }
}

.navbarContainer {
  @include alignCenter();
  // background-color: red;
  width: 80%;
  margin: 0 auto;
  height: 100px;
  border: 1px white;

  @include break(xxs){
    width: 100%;
  }

  nav {
    position: sticky;
    width: 90%;
    height: 70%;
    
    background: transparent;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.1rem;
    box-shadow:  10px 10px 10px 1px radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));

    .logo{
      filter: invert(100%);
      height: auto;
      width: auto;
      max-height: 68px;
      max-width: 245px;
    }

    ul {
      display: flex;
      gap: 3rem;
      list-style: none;

     @include break(xs){
      flex-direction: column;
      align-items: center;
      gap: 2rem;
     }

      li{
        font-family: var(--font-mono);
      }
    }

    .inactiveNavItems{
      @include break(xs){
        background: red;
        width: 36%;
        height: auto;
        transform: translate(250%,78%);
        opacity: 0;
        transition: all 0.5s ease-in-out;
      }
    }
    .activeNavItems{
      @include break(xs){
        background: rebeccapurple;
        width: 36%;
        height: auto;
        opacity: 1;
        transform: translate(110%,78%);
        transition: all 0.5s ease-in-out;
      }
    }

    .ham_Container{
        @include break(xs){
          position: relative;
          width: 30px;
          height: 3px;
          background: wheat;
          border-radius: 5px;
          transition: all 0.5s ease-in-out;
          transform: translateY(0);

          &::before{
          content: "";
          position: absolute;
          width: 30px;
          height: 3px;
          background: wheat;
          border-radius: 5px;
          transition: all 0.5s ease-in-out;
          transform: translateY(-10px);
          }
          &::after{
          content: "";
          position: absolute;
          width: 30px;
          height: 3px;
          background: wheat;
          border-radius: 5px;
          transition: all 0.5s ease-in-out;
          transform: translateY(10px);
          }
        }
    }

    .activeHam{

      @include break(xs){
        position: relative;
        width: 30px;
        height: 3px;
        background: transparent;
        border-radius: 5px;
        transition: all 0.5s ease-in-out;
        transform: translateY(0);

        &::before{
        content: "";
        position: absolute;
        width: 30px;
        height: 3px;
        background: wheat;
        border-radius: 5px;
        transition: all 0.5s ease-in-out;
        transform: translateY(-2.5px) rotate(45deg);
        }
        &::after{
        content: "";
        position: absolute;
        width: 30px;
        height: 3px;
        background: wheat;
        border-radius: 5px;
        transition: all 0.5s ease-in-out;
        transform: translateY(-2.5px) rotate(-45deg);
        }
      }
    }
  }
}
